body {
  margin: 20 px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(59, 75, 110);
}


code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  white-space: normal;
  word-wrap: break-word;
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 0.25rem;
  display: block;
}

h1 {
  font: "Courier New";
  padding: 1rem;
  color: bisque;
  font-size: 50px;
  text-shadow: .1em .1em 0 rgb(39, 40, 41);
}

h2 {
  margin: 25px;

  color: bisque;
  font-size: 35px;
  text-shadow: .1em .1em 0 rgb(39, 40, 41);


}

h3 {
  margin: 25px;
  color: bisque;
  font-size: 25px;
  text-shadow: .1em .1em 0 rgb(39, 40, 41);


}

h4 {
  margin: 25px;
  color: bisque;
  font-size: 23px;
  text-shadow: .1em .1em 0 rgb(39, 40, 41);


}

p {
  margin-left: 25px;
  margin-right: 25px;
  color: bisque;
  font-size: 20px;
}

.time {
  color: rgb(145, 145, 145);
}

.span-link {
  margin-left: 10px;
  margin-right: 10px;
  color: bisque;
  font-size: 20px;
}

.list-p {
  padding: 0;
  margin-left: 25px;
  margin-top: 2px;
}

.list-p:hover {
  color: rgb(226, 192, 151);
}

.container {
  margin: 10px;
  max-width: 76rem;
  padding: 0 2rem;
}

.container2 {
  box-shadow: 1 1 10px #000000;
  
    vertical-align: middle;
  
}

nav {
  background-color: #0d2c35;
  background: radial-gradient(circle, rgba(23,74,89,1) 0%, rgba(13,44,53,1) 100%);

  color: bisque;
  height: 150px;
  justify-content: space-evenly;
  margin: 25px;
  border-radius: 25px;
  box-shadow: inset 0 0 10px #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

}

.navbar ul {
  padding: 0;
  margin: 25px;
  list-style: none;
  display: flex;
}

.mainmenubutton {
  border-radius: 15px;
  border: 1px rgb(59, 75, 110);
  box-shadow: 0 0 5px #080f4e;
  background-color: rgb(38, 53, 87);
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  height: 50px;
  position: relative;

}

.mainmenubutton:hover {
  background-color: rgb(61, 84, 139);
}

.menutitle {
display:inline;
text-align: center;
}

.undermenu {
  display:flex;
  justify-content: space-between;
  text-align: center;


}

.trainingmenu {
  font-size: 25px;

}

.goals-container {
  display: block;
  align-content: center;
  width: 60%;
  margin: auto;
}

.tableparent {
display: flex;
flex-wrap: wrap;
}

.tablechild {
width: 25%;
box-sizing: border-box;
}

.submenu {
  color: bisque;
  padding-left: 0px;
  display: box;
  font-size: 30px;
  width: 100%;
  margin: auto;

}

.centertext {
  justify-content: space-between;
  
}

.sublinkbox {
text-align: center;  
width: 300px;
margin: 0 auto;
}

.sublink {
  display: inline;
  padding: 10px;
  box-shadow: 0 0 5px #000000;
  border-radius: 10px;
  background-color: #133f4d;

}

.sublink:hover {
  background-color: rgb(76, 106, 177);
}

.sublink2 {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000000;
  border-radius: 25px;
  background-color: #214486;
  text-align: center;
}

.sublink2:hover {
    background-color: #2d5bb3;

}


.goback-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #214486;
  border-radius: 3px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 5px 5px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 100%;
  height: 25px;
  line-height: 1.15;
  margin: 12px 0 0;
  margin-left: 25px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
}

.goback-button:hover {
  background-color: #5a8ce9;

}

.goal-button {
  background-color: #214486;
  color: bisque;
}

.goal-button:hover {
  background-color: #5a8ce9;

}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #9b1e1e;
  border-radius: 3px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 100%;
  height: 25px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:hover {
  background-color: #e43131;

}

.button-8 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #17c451;
  border-radius: 3px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 5px 5px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 100%;
  height: 25px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 25%;
  
}

.LinkText {
  
  text-shadow: .1em .1em 0 rgb(39, 40, 41);

}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.center {
  border: 5px solid #000000;
  text-align: center;
  margin: 10px;
  padding: 25px;
  }

li {
  padding: 25px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}